@model Colore_Entrega2.Models.Empresa

@{
    ViewData["Title"] = "Detalhes Empresa";
}

<h1>@Html.DisplayNameFor(model => model.nome)</h1>

<div>
    <hr />
    
    <div class="container">
        <div class="row">  
            <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="~/images/empresas/@(Model?.id).jpg" alt="@Model.nome">
                      <div class="card-body">
                        <h5 class="card-title"> E-mail : @Html.DisplayNameFor(model => model.email)</h5>
                        <p class="card-text"> Telefone:  @Html.DisplayFor(model => model.telefone)</p>
                        <p class="card-text"> CNPJ:  @Html.DisplayFor(model => model.cnpj)</p>
                      </div>
             </div>

<!-- 
    <dl class="row">
        <dd class = "col-sm-10">
            Logo
        </dd>
        <dt class = "col-sm-2">
           <img src="~/images/empresas/@(Model?.id).jpg" class="img-responsive" alt="Imagem ">
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>-->
