@model IEnumerable<Colore_Entrega2.Models.Vagas>

@{
    ViewData["Title"] = "Pagina inicial - Empresas";
}

<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
@foreach (var item in Model) {
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                         @Html.DisplayFor(modelItem => item.nome)</h4>
                    <p class="group inner list-group-item-text">
                         @Html.DisplayFor(modelItem => item.email) - CNPJ: @Html.DisplayFor(modelItem => item.cnpj)
		     </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                @Html.DisplayFor(modelItem => item.telefone)</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.id">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	}       
        </div>
    </div>
</div>