@model Colore_Entrega2.Models.Vagas

@{
    ViewData["Title"] = "Detalhes Vagas";
}

   <section> 
<div class="standardBG d-flex">
    <div class="col-6">
       <img class="card-img-top" src="~/images/vagas/@(Model?.id).png" alt="@Model.titulo">
    </div>
    <div class="col-6">
        <h1>@Html.DisplayFor(model => model.titulo)</h1>
        <br />
        <h4 class="card-title"> Área de atuação:<br />@Html.DisplayFor(model => model.area)</h4>
        <hr />
        <h4 class="card-title"> Salário: R$@Html.DisplayFor(model => model.salario)</h4>
    </div>
</div>

<div class="d-flex justify-content-around">
    <div class="col-6">
    <h5 class="text-center">Descrição da vaga</h5>
    <hr />
    <p class="card-text">@Html.DisplayFor(model => model.descricao)</p>
    <button class="btn btn-primary mt-3">Candidate-se</button>
    </div>
    
    <div class="col-4">
        <h5 class="text-center">Requisitos</h5>
        <hr />
        <p class="card-text"> Escolaridade Exigida: @Html.DisplayFor(model => model.escolaridade)</p>
        <p class="card-text"> Experiência de trabalho Exigida: @Html.DisplayFor(model => model.experiencia) anos</p>
        <p class="card-text"> Idiomas desejáveis: @Html.DisplayFor(model => model.idiomas)</p>
        <h5 class="text-center">Benefícios</h5>
        <hr />
        <p class="card-text">@Html.DisplayFor(model => model.beneficios)</p>
    </div>
   
</div>
 <hr />

</section>

<!-- 
<div>
    <h4>Vagas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.beneficios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.beneficios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.escolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.experiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.experiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.experienciaArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.experienciaArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idiomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idiomas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
-->
