@model IEnumerable<Colore_Entrega2.Models.Vagas>

@{
    ViewData["Title"] = "Pagina inicial  vagas";
}

<section id="search-jobs" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8  mx-auto">
                    <h3>Encontre sua vaga</h3>
                    @using (Html.BeginForm())
                    {
                    <div class="row">
                        <div class="d-grid my-3 col-3 mx-auto">
                            Procure por área ou escolaridade : @Html.TextBox("busca")
                            <input type="submit" value="Pesquisar" />
                        </div>
                    </div>                    
                    }
                <!--
                    <form class="row g-2 needs-validation" asp-action="Pesquisar" method="post">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Cargo Ex: Analista de RH"
                                required>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="validationCustom02" placeholder="Tipo Ex: PCD" required>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Região</option>
                                <option value="1">RJ</option>
                                <option value="2">SP</option>
                                <option value="3">MG</option>
                            </select>
                        </div>
                        <div class="col-12 d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Pesquisar Vaga</button>
                        </div>
                    </form>
                    -->
                </div>
            </div>
        </div>
    </section>
    <section id="recent-jobs" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <h3 class="text-center">Vagas Recentes </h3>
                @foreach (var item in Model) {
                <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
                    <div class="card text-center my-3">
                        <div class="card-header">
                             @Html.DisplayFor(modelItem => item.area)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.titulo)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.descricao)
                            </p>
                            <a asp-action="Details" asp-route-id="@item.id"  class="btn btn-primary" type="button">Me Candidatar</a>
                        </div>
                        <div class="card-footer text-muted">
                            Hoje
                        </div>
                    </div>
                </div>
               }
               
            </div>
        </div>
    </section>