@model IEnumerable<Colore_Entrega2.Models.Vagas>

@{
    ViewData["Title"] = "Vagas - Área Administrador";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beneficios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.escolaridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.experienciaArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idiomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beneficios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.escolaridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.experiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.experienciaArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idiomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
